@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Brandon in a nutshell";
}


    <h1>Brandon</h1>
    <br />
    <img src="~/img/IMG_8887.jpg" width="300" height="300" />
    <br />
    <p>
        I hope to learn how to build an .NET
        webapp and emply those skills to further my
        knowledge of coding and creating solutions to problems.
        I also hope to become a better problem solver. Finally,
        I hope to be able to enhance my mental faculties.
    </p>
    <br />
    <ol>
        <li>Software Engineer</li>
        <li>Data Analyst</li>
        <li>Business Analyst</li>
    </ol>
    <br />

